html, body {
    touch-action: manipulation;
}

.resources {
    text-align: center;
    font-size: 500%;
    font-weight: bold;
}

.production {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    vertical-align: middle;
    width: 70px;
}

.production-bar button {
    height: 100%;
}

.bg-gold {
    background-color: rgb(245, 241, 31)
}

.border-gold {
    border: 1px solid rgb(245, 241, 31)
}

.text-gold {
    color: rgb(54, 43, 14)
}

.bg-steel {
    background-color: #985E2E
}

.border-steel {
    border: 1px solid #985E2E
}

.text-steel {
    color: rgb(54, 30, 12)
}

.bg-titanium {
    background-color: #3E3E3E
}

.border-titanium {
    border: 1px solid #3E3E3E
}

.text-titanium {
    color: rgb(255, 237, 71)
}

.bg-plant {
    background-color: rgb(28, 184, 28)
}

.border-plant {
    border: 1px solid rgb(18, 109, 18)
}

.text-plant {
    color: rgb(19, 122, 19)
}

.bg-energy {
    background-color: #A82CB2
}

.border-energy {
    border: 1px solid #A82CB2
}

.text-energy {
    color: rgb(66, 17, 70)
}

.bg-heat {
    background-color: #E61818
}

.border-heat {
    border: 1px solid #E61818
}

.text-heat {
    color: rgb(116, 14, 14)
}

#generation {
    display: inline-block;
    width: 40px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#historyWrapper {
    height: 80vh;
    width: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    right: 20px;
}

.logrow:hover {
    background-color: rgb(202, 202, 202)
}

.plus {
    color: rgb(49, 173, 0);
}

.minus {
    color: rgb(197, 0, 0)
}

.desc-tag {
    display: inline-block;
}

.production-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: radial-gradient(#925b09 40%, transparent 30%), radial-gradient(#925b09 25%, transparent 30%);
    background-color: #b97a1b;
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
    z-index: 1;
    padding: 5px;
    border-radius: 5%;
}

.resource-icon {
    width: 40px;
    height: 40px;
    z-index: 2;
    box-shadow: 0px 0px 2px darkgray;
    border-radius: 5%;
    padding: 7px 0;
    text-align: center;
}

.displayNum {
    font-size: 5rem;
    font-weight: bold;
    display: inline-block;
    margin: 75px 0;
}

#calculatorModal .num {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.production-bar .input-group{
    width:185px
}
/* #calculatorModal .submit {
    width: 135px;
    height: 60px;
    margin: 5px
} */

@media only screen and (max-width: 768px) {
    .resources {
        font-size: 220%;
    }
    .production {
        font-size: 150%;
        width:50px;
    }
    .controller button {
        display: none;
    }
    .displayNum {
        margin: 0;
    }

    .production-icon{
        width:40px;
        height:40px;
        padding:4px;
    }
    .resource-icon{
        width:32px;
        height:32px;
        padding: 3px 0;
    }
    .production-bar button{
        padding-left:6px;
        padding-right:6px;
    }
    .production-bar .input-group{
        width:130px
    }
}